/**-------------------------------heading--------------------------- **/
.banner {
  margin-top: 0;
  text-align: center;
  color: #617B30;
}

h1 {
  margin-top: 0;
  font-weight: bold;
}

/** -----------------------------------Tabs------------------------**/
.tabs {
  display: flex;
  flex-wrap: wrap; // make sure it wraps
}

.tabs label {
  order: 1; // Put the labels first
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  background: #c0dead;
  font-weight: bold;
  transition: background ease 0.2s;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.tabs label:hover {
  background: #81a140;
  cursor: pointer;
}

.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked+label {
  background: #fff;
}

.tabs input[type="radio"]:checked+label+.tab {
  display: block;
}

@media (max-width: 45em) {

  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/** -------------------------Page Styling---------------------**/
body {
  background: #eee;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 2vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  max-width: 80rem;
  margin: 0 auto;
  font-size: 112%;
}

/** -------------------------table styling ---------------------------**/
.table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 300px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  table-layout: inherit;
}

.table .tbody .tr {
  display: table-row-group;
}

.tharea {
  display: none;
  background-color: #fff4c7;
  color: #617B30;
  text-align: center;
  font-weight: bold;
  padding: 12px 15px;
  width: 2%;
}

.tr .th {
  display: table-cell;
  background-color: #fff4c7;
  color: #617B30;
  text-align: center;
  font-weight: bold;
}

.table .th, .td {
  padding: 12px 15px;
  width: 2%;
}

.tbody .tr:hover .td {
  background: #fee4e3;
  color: #617B30;
}

.tr {
  display: table-row-group;
  border-bottom: 1px solid #dddddd;
}

.tbody .tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}

.td {
  display: table-cell;
  word-wrap: break-word;
  text-align: center;
  overflow: hidden;
  max-width: 60px;
  padding: 10px 0px 10px 0px;
}

.editButtons {
  text-align: center;
}
/** -----------------------edit option buttons-------------------- **/
.option {
  background-color: #ffcac2;
  border-radius: 28px;
  border: 1px solid #ffb0b0;
  display: inline;
  width: 100px;
  min-width: 60px !important;
  margin: auto;
  color: #556b2f;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
}

.option:hover {
  background-color: #fc9d9d;
  cursor: pointer;
}

.option:active {
  position: relative;
  top: 1px;
}

/** -------------------------input entry styling -----------------------**/
h2 {
  margin-top: 0;
}

select {
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #555555;
  color: #555555;
}
input {
  padding: 6px 10px;
  border-radius: 4px;
}
.input-header {
  padding: 1em;
  text-align: center;
  background: #cff1ef;
  border-radius: 30px;
  margin: 0 auto;
  padding-left: 1rem;
  color: #555555;
}

#add {
  text-align: center;
  font-weight: bold;
  height: 1.5em;
  color: #555555;
  padding-bottom: 1em;
}

/** -------------------------submit button styling -----------------------**/
#inputSubmit {
  background-color: #abf0e9;
  border-radius: 18px;
  border: 1px solid #63b7af;
  display: inline-block;
  color: #555555;
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  padding: 2px 14px;
  text-decoration: none;
  outline: none;
}

#inputSubmit:hover {
  background-color: #63b7af;
  cursor: pointer;
}

#inputSubmit:active {
  position: relative;
  top: 1px;
}
